/*-------------- UNIVERSAL CSS --------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	utline: 1px solid red;*/
}
body {
	margin: 0;
	background: radial-gradient(circle at center, 
		#1a0033 0%,
		#0a0015 40%,
	    #000000 100%);
	min-height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
	margin: 10px;
}
.navbar {
	padding: 10px;
	margin: 10px;
	padding-bottom: 80px;
	/*border-bottom: 1px solid purple;*/
}
.navbar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	width: 100;
}

.navigation {
    margin-top: 70px;
    display: flex;
    width: 100%;
}
.container-link-home {
	width: 50%;
	text-align: center;
	border-right: 1px solid white;
}
.container-link-labs {
	width: 50%;
	text-align: center;
	border-left: 1px solid white;
}
.link {
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

    text-decoration: none;
    font-size: clamp(1.3rem, 2.2rem, 3.3rem);
    color: #2e1065;
    -webkit-text-stroke: 0.8px white;
    padding: 5px 7px ;
    display: inline-block;

    transition: all 0.3s ease;
}
.link:hover {
	transform: scale(1.1) translateY(-3px);
}
.img {
	margin-top: 15px;
	height: 70px;
	width: clamp(30%, 50%, 60%);
	border-radius: 10px;
}
.img-container {
	width: 75%;
	display: flex;
	gap: 20px;
	justify-content: center;
align-items: center;

}
.title-div {
	width: 100%;
	text-align: center;
	display: flex;
}
.title {
	font-family: "Orbitron", sans-serif;
  font-weight: 900;
  letter-spacing: 4px;
  font-style: normal;

	width: 100%;
	color: #2e1065;
	font-size: clamp(1.5rem, 3rem, 4rem);
	white-space: nowrap;
	-webkit-text-stroke: 1.3px white;
	text-shadow: 0 0 10px
	rgba(255,255,255,0.5)
}
@media (max-width: 780px) {
	.navbar {
		margin-bottom: 70px;
	}
	.navigation {
		margin-top: 50px;
	}
}

footer {
	margin-top: 50px;
	background-image: linear-gradient(180deg, black,  #090422, #180f4a);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 3rem;
	gap: 30px;
	border-top: 1px solid purple;
}
.footer-title {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.footer-title h2 {
	font-size: 2.5rem;
	margin-bottom: 15px;
	-webkit-text-stroke: 0.5px white;
	color: #2e1065;
	text-shadow: 0 0 10px
	rgba(255,255,255,0.5)
}
.footer-title span {
	color: white;
	font-size: 1.2rem;
	text-shadow: 0 0 10px
	rgba(255,255,255,0.5)
}
.footer-info {
	display: flex;
	width: 40%;
	text-align: center;
	flex-direction: column;
	gap: 15px;
}
.footer-links {
	text-decoration: none;
	padding: 5px 7px;
	width: fit-content;
	align-self: center;
	color: white;

	transition: all 0.2s ease;
}
.footer-links:hover {
	transform: translateY(-3px) scale(1.2);
}
@media (max-width: 460px) {
	footer {
		flex-wrap: wrap;
	}
}


/*-------------- UNIVERSAL CSS END --------------*/

/*-------------- LABS CSS --------------*/

.cards-container {
	min-height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	flex-wrap: wrap;
}
.png {
	width: 80px;
	height: 80px;
	align-self: center;
	margin: 10px;
	margin-bottom: 0px;
}
.cards {
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;


justify-content: space-between;
	text-align: center;
	flex-direction: column;
	display: flex;
gap: 20px;

	padding: 1rem;

	border-radius: 16px;
	border: 1px solid #a855f7;
	
	flex: 0 1 calc(33.333% - 40px);
	min-height: 500px;
	
background: rgba(20, 0, 40, 0.6);
		box-shadow: 
	0 0 5px #a855f7, 
	0 0 15px #a855f7, 
    0 0 30px #a855f7;
	backdrop-filter: blur(10px);
	animation: pulseGlow 3s infinite;

	transition: all 0.3s ease;
}

@media (max-width: 780px) {
	.cards {
		flex: 0 1 calc(50% - 40px);
	}
}
@media (max-width: 660px) {
	.cards {
		flex: 0 1 calc(100% - 40px);
	}
}

.cards:hover {
	transform: translateY(-5px) scale(1.02);
	box-shadow:
	 0 0 10px #ff00ff, 0 0 25px #ff00ff, 0 0 50px #ff00ff;
}
.cards a {
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 1.4rem;
	
	text-decoration: none;
	color: white;
	width: fit-content;
	align-self: center;
	background-color: #8b5cf6;
	border-radius: 10px;
	padding: 5px 7px;

	transition: all 0.3s ease;
}
.cards a:hover {
	transform: translateY(-10px);
}
.cards p {
	line-height: 1.7rem;
	color: #c7c9d1;
	font-size: clamp(1rem, 1.4rem, 1.6rem);
}
.cards h2 {
	color: #f3f4f6;
	font-size: 2rem;
}
@keyframes pulseGlow {
	0% { box-shadow: 0 0 10px #a855f7 }
	50% { box-shadow: 0 0 30px #a855f7 }
	100% { box-shadow: 0 0 10px #a855f7 }
}

/*-------------- LABS CSS END --------------*/

/*-------------- HOME CSS --------------*/
.home-container {
	min-height: auto;
}







/*-------------- HOME CSS END --------------*/