* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outine: 1px solid red;
}
body {
	margin: 0;
	background: radial-gradient(circle at center, 
		#1a0033 0%,
		#0a0015 40%,
	    #000000 100%);
	min-height: 100vh;

	/*background-image: linear-gradient(rgba(0, 255, 255, 0.05) 1px, transparent 1px), 
	linear-gradient(90deg, rgba(0, 255, 255, 0.05) 1px, transparent 1px);
	background-size: 40px 40px;*/
	overflow-x: hidden;
}
.navbar {
	padding: 10px;
	margin: 3px;
}
.navbar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin-bottom: 70px;
}
.img {
	margin-top: 15px;
	height: 70px;
	width: clamp(30%, 50%, 60%);
	border-radius: 10px;
}
.img-container {
	width: 75%;
	display: flex;
	gap: 20px;
	justify-content: center;
align-items: center;

}
.title-div {
	width: 100%;
	text-align: center;
	display: flex;
}
.title {
	width: 100%;
	color: #2e1065;
	font-size: clamp(1.5rem, 3rem, 4rem);
	white-space: nowrap;
	-webkit-text-stroke: 0.5px white;
	text-shadow: 0 0 10px
	rgba(255,255,255,0.5)
}
.cards-container {
	min-height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin: 20px;
	flex-wrap: wrap;
}
.cards {
	text-align: center;
	background: rgba(20, 0, 40, 0.6);
	padding: 1rem;
	font-size: 1.4rem;
	display: flex;
	flex-direction: column;
	gap: 12px;
	border-radius: 16px;
	border: 1px solid #a855f7;
	box-shadow: 
	0 0 5px #a855f7, 
	0 0 15px #a855f7, 
    0 0 30px #a855f7;
	flex: 1 1 280px;
	min-height: 300px;
	justify-content: space-between;
	transition: all 0.3s ease;	
	backdrop-filter: blur(10px);
	animation: pulseGlow 3s infinite;
}
.cards:hover {
	transform: translateY(-5px) scale(1.02);
	box-shadow:
	 0 0 10px #ff00ff, 0 0 25px #ff00ff, 0 0 50px #ff00ff;
}
.cards a {
	text-decoration: none;
	color: white;
	width: fit-content;
	align-self: center;
	background-color: #8b5cf6;
	border-radius: 10px;
	padding: 5px 7px;

	transition: all 0.3s ease;
}
.cards a:hover {
	transform: translateY(-10px);
}
.cards p {
	line-height: 1.7rem;
	color: #c7c9d1;
}
.cards h2 {
	color: #f3f4f6;
}
@keyframes pulseGlow {
	0% { box-shadow: 0 0 10px #a855f7 }
	50% { box-shadow: 0 0 30px #a855f7 }
	100% { box-shadow: 0 0 10px #a855f7 }
}